.accept{
    color: #fff;
    background-color: rgb(42, 102, 188);
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor:pointer;
}

.accept:hover{
    background-color: rgb(14,71,149);
}

.reject{
    color: rgb(100, 100, 100);
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.reject:hover{
    background-color: rgb(194,192,192);
}

.btns{
    display: flex;
    flex-wrap: wrap;
    
}

h1{
    text-align: center;
}